.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    height: 50px;
    background-color: rgb(255, 103, 103);
    color: white;
    text-align: center;
  }