@import "styles/styles";

.element{
    display: inline-block;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: $primary-color;
    margin:20px;

}
.text{
    margin:auto;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 17px;
}