$primary-color:rgb(178, 178, 178);
$secondary-color:rgb(212, 212, 212);
.container{
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap ;
}